{% load static %}

<div class="p-3 mb-3 border-bottom">
    <header class="" role="navigation">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justfify-content-center justify-content-lg-start">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.svg' %}" width="40px" alt=""></a>
            
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {% if user.is_authenticated %}
                    <li><a href="#" class="nav-link px-2 link-dark">+ New</a></li>
                </ul>
                <div class="dropdown texdt-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="{% url 'password_change' %}" >修改密码</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}" >登出</a></li>
                    </ul>
                </div>
                {% else %}
                </ul>
                <div class="text-end">
                    <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">登录</a>
                    <a href="{% url 'signup' %}" class="btn btn-primary">注册</a>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
</div>